<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AccuRevPath" value="" /> <!-- path to accurev.exe -->
		<add key="AccuRevPrincipal" value="" /> <!-- AccuRev username, used when executing accurev.exe -->
		<add key="GitPath" value="" /> <!-- path to git.cmd -->
		<add key="DefaultGitUserName" value="" /> <!-- used for initial commit -->
	</appSettings>
</configuration>