<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AccuRevPath" value="C:\Program Files (x86)\AccuRev\bin\accurev.exe" />
		<add key="GitPath" value="C:\Development\Tools\Git\cmd\git.cmd" />
		<add key="DefaultGitUserName" value="Ryan LaNeve" />
	</appSettings>
</configuration>